<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308033757865-mb1cvi1260dh9fjrj0iql168r7anr6tg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308033757865-mb1cvi1260dh9fjrj0iql168r7anr6tg</string>
	<key>API_KEY</key>
	<string>AIzaSyDicKu90vsutRA5zYU64TqvY-4LW5sfm-c</string>
	<key>GCM_SENDER_ID</key>
	<string>308033757865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.augmentedrealitycommerce</string>
	<key>PROJECT_ID</key>
	<string>augmented-reality-commerce</string>
	<key>STORAGE_BUCKET</key>
	<string>augmented-reality-commerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308033757865:ios:6c8e7fc326be6673893fb8</string>
</dict>
</plist>